:root {
    /* Primary */
    --verydarkblue: hsl(233, 47%, 7%);
    --darkdesaturatedblue: hsl(244, 38%, 16%);
    --softviolet: hsl(277, 64%, 61%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slightlytransparentwhite75: hsla(0, 0%, 100%, 0.75);
    --slightlytransparentwhite6: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lexend Deca', sans-serif;
    - Font size: 15px */
    background-color: var(--verydarkblue);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container {
    width: 337.5px;
    background-color: var(--darkdesaturatedblue);
    border-radius: 15px;
}

.picture {
    width: 100%;
    height: 230px;
    position: relative;
    background-image: url(/images/image-header-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.picture::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(170, 92, 219, 0.5);
    border-radius: 10px 10px 0 0;
}

.div_text {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center
}

.div_text_h1 {
    max-width: 230px;
    margin: 0 auto;
    padding: 20px 0 15px;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
}

.div_text_h1 a {
    text-decoration: none;
    color: var(--softviolet);
}

.div_text_p {
    max-width: 230px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 20px;
    color: var(--slightlytransparentwhite75);
}

.stats {
    width: 100%;
    height: auto;
}

.article {
    width: 30%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
}

.article_h1 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 8px;
}

.article_p {
    color: var(--slightlytransparentwhite6);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

footer {
    max-width: 190px;
    height: auto;
    margin: 0 auto;
    padding-top: 5px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--white);
}
.attribution a {
    color: var(--softviolet);
}

@media screen and (min-width: 1024px) {
    .main_container {
        width: 1000px;
        height: 400px;
        display: flex;
    }

    .picture {
        width: 50%;
        order: 2;
        height: auto;
        border-radius: 0 10px 10px 0;
    }

    .picture::before {
        border-radius: 0 10px 10px 0;
    }

    .div_text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        order: 1;
        text-align: left;
    }

    .div_text_h1 {
        max-width: 350px;
        margin: 40px auto 10px;
        font-size: 3.3rem;
    }

    .div_text_p {
        max-width: 350px;
        margin: 10px 0 30px 75px;
        font-size: 1.4rem;
    }

    .stats {
        width: 350px;
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0 75px;
    }

    .article {
        margin: 0;
        padding-bottom: 30px;
    }
}